@font-face {
	font-family: 'League Script';
}

.league-script{
    font-family: 'League Script';
    text-transform: lowercase;
    color: #eee;
    padding-bottom: 20px;
}

header {
/*    position: fixed;*/
/*    display: block;  */
    height: 600px;
    width: 100%;
    background-image: url("../images/satyr-lg.png");
    background-repeat: no-repeat;
    background-size: 100% 600px;
    background-color: #333;
   	/* color: #333 !important; */
    text-align: center;
    padding-top: 150px;
}

#hero-title {
/*    width: 800px;*/
    height:100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

#page {
/*    position: relative;*/
    top: 600px;
    width: 100%;
    background: #fff;
}

.align-block {
    width: 60%;
    margin: 0 18% 0 22%;
    text-align: left;
    padding: 20px;
    overflow: hidden;
}

.content{
	min-height: 700px;
}

.align-block p {
    margin: 0 10% 0 0;
}

.font-weight-300 {
     font-weight: 300;   
}

.align-block a{
    text-transform: none !important;
    color: #333;
}

.align-block a:hover{
    text-transform: none !important;
    text-decoration: none;
    color: #333;
}

.align-block img{
	width: inherit;
	max-height: 300px;
}

.align-block .lead {
    font-size: 16px !important;
}

footer {
    margin-top: 40px;
    padding: 60px;
    padding-bottom: 80px;
    color: #fff;
    background-color: #333;
    text-align: center;
}
/*

footer ul {
    list-style-type: none;
    text-decoration: none;
    text-transform: none;
    padding-top: 20px;
    margin-left: 120px;
}

footer li, footer a{
    text-decoration: none;
    text-transform: none;
    color: #fff;
    text-align: left;
}

footer h4{
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1px;
}
*/

.copy {
    font-family: 'Times New Roman';
    font-size: 20px;
/*    word-spacing: 3px;*/
}

textarea {
    width: 100%;
   	border: 1px solid #ddd;
	font-size: 20px;
	color: #333;
	font-weight: 500;
	padding: 10px;
}

textarea: select{
	border: none;
}

textarea.title,
textarea#edit-name{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	font-weight: bold;
  	line-height: 1.1;
  	font-size: 25px;
}

textarea.subtitle,
textarea#edit-about{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	font-weight: 300;
  	/* line-height: 1.1 */;
  	font-size: 15px;
}

textarea.article {
    font-family: 'Times New Roman';
    font-size: 20px;
}

pre {
	 white-space: pre-wrap;       /* css-3 */
	 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	 white-space: -pre-wrap;      /* Opera 4-6 */
	 white-space: -o-pre-wrap;    /* Opera 7 */
	 word-wrap: normal !important;       /* Internet Explorer 5.5+ */
	 word-break: normal !important;
	 background: #ffffff;
	 text-align: left;
	 
	 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	 font-size: 14px;
  	 line-height: 1.428571429;
  	 color: #333333;
  	 
  	 border: none;
  	 padding: 0;
  	 margin: 0;
}


/* ========== MEDIA QUERIES ========== */

@media (max-width: 979px) {


}


@media (max-width: 767px) {
	

	
}

/* Ipad Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {  


}


@media (max-width: 480px) { 

	.align-block {
	    width: 94%;
	    margin: 0 3% 0 3%;
	    text-align: left;
	    /* padding: 20px; */
	}
	
	.align-block p {
	    margin: 0 2% 0 0;
	}


}
